<div class="custom-max">
    <div class="h-100 overflow-y-scroll overflow-x-hidden">
        <table class="table table-fixed table-dark caption-top">
            <caption class="p-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{ getCategoryName(category$)?.name }}</li>
                        <li class="breadcrumb-item">{{ getCategoryName(achievement$)?.name }}</li>
                    </ol>
                </nav>
            </caption>
            <thead class="table-header" scope="col">
                <tr>
                    <th class="col-5">Achievement</th>
                    <th class="col-1 text-center">Missing</th>
                    @for (c of characters; track c.name) {
                    <th class="rotate position-relative border-start border-end">
                        <div class="position-absolute bottom-0 start-0">
                            <span class="">{{ c.name }}</span>
                        </div>
                    </th>
                    }
                    <th class="col-1 text-center">Completed</th>
                </tr>
            </thead>
            <tbody class="table-group-divider tbody-bordered">
                @for (row of data; track $index) {
                <tr class="">
                    <td>{{ row.name }} ({{ row.points }} Points)</td>
                    <td class="text-center">{{ row.missing | number }}</td>
                    @for (v of row.data; track $index) {
                    <td class="text-center border-start border-end"
                     [ngClass]="{'text-bg-success': v === 'C', 'text-bg-info': v !== 'C'}">{{ v }}</td>
                    }
                    <td class="text-center">{{ row.completed | number }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>