<aside>
    <div>
        <div ngbAccordion #accordion="ngbAccordion">
            @for (item of menu; track item) {
            <div ngbAccordionItem="menu{{ item.id }}">
                <h2 ngbAccordionHeader class="">
                    <button ngbAccordionButton placement="top" ngbTooltip="{{ item.tooltip }}" [openDelay]="1000" triggers="hover">{{ item.name }}</button>
                </h2>
                <div ngbAccordionCollapse class="">
                    <div ngbAccordionBody class="">
                        <ng-template>
                            <ul class="list-group">
                                @for (cat of item.children ; track cat) {
                                <li class="list-group-item"><a [routerLink]="cat.routerLink" [skipLocationChange]="true" routerLinkActive="active">{{ cat.name }}</a></li>
                                }
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
            }
        </div>
        <button class="btn btn-sm btn-outline-primary me-2" (click)="accordion.expandAll()">Expand all</button>
        <button class="btn btn-sm btn-outline-primary me-2" (click)="accordion.collapseAll()">Collapse all</button>
    </div>
</aside>