<div class="custom-max">
    <div class="h-100 overflow-y-scroll overflow-x-auto">
        <table class="table table-sm table-bordered table-fixed table-dark">
            <thead class="table-header box-shadow" scope="col">
                <tr class="box-shadow">
                    <td [colSpan]="1 + characters.size * 3">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navbar p-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">{{ getCategoryName(category$)?.name }}</li>
                                <li class="breadcrumb-item">Heroic AAs</li>
                            </ol>
                            <ol class="m-0">
                                <li class="navbar">
                                    <button class="btn btn-outline-primary text-nowrap" (click)="toggleCompleted()">
                                        @if (showCompleted()) {
                                        Filter Completed
                                        }
                                        @else {
                                        Show Completed
                                        }
                                    </button>
                                </li>
                            </ol>
                        </nav>
                    </td>
                </tr>
                <tr>
                    <th class="col-5" rowspan="2">Achievement</th>
                    @for (c of characters; track c.name) {
                    <th class="border-0" colspan="3">
                        <div class="text-center">
                            <span class="">{{ c.name }}</span>
                        </div>
                    </th>
                    }
                </tr>
                <tr class="">
                    @for (c of characters; track $index) {
                    <th class="text-center border-0 p-0"><div placement="top" ngbTooltip="AA: Hero's Fortitude">F</div></th>
                    <th class="text-center border-0 p-0"><div placement="top" ngbTooltip="AA: Hero's Resolution">R</div></th>
                    <th class="text-center border-0 p-0"><div placement="top" ngbTooltip="AA: Hero's Vitality">V</div></th>
                    }
                </tr>
            </thead>
            <tbody class="tbody-bordered">
                @for (row of data; track $index) {
                @if (!$last) {
                <tr class="" [hidden]="row.completed == characters.size && !showCompleted()">
                    <td class="text-nowrap p-0">{{ row.name }}</td>
                    @for (v of row.data; track $index) {
                    <td class="border-start border-end p-0">
                        <div class="text-center"
                            [ngClass]="{'text-bg-success': v === 'C', 'text-bg-warning': v === 'I', 'text-bg-dark': v === ''}">
                            {{ v }}
                        </div>
                    </td>
                    }
                </tr>
                }
                @else {
                <tr class="">
                    <td class="p-0">{{ row.name }}</td>
                    @for (v of row.data; track $index) {
                    <td class="border-start border-end p-0">
                        <div class="text-center"
                            [ngClass]="{'text-bg-success': v == num_heroic_AAs[$index % 3],'text-bg-warning': v != num_heroic_AAs[$index % 3]}"
                            placement="top" ngbTooltip="{{ v }}/{{ num_heroic_AAs[$index % 3] }}">
                            {{ v }}
                        </div>
                    </td>
                    }
                </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>