<div class="custom-max">
    <div class="h-100 overflow-y-scroll overflow-x-auto">
        <table class="table-sm table-fixed table-dark">
            <thead class="table-header" scope="col">
                <tr>
                    <th class="col-5" rowspan="2">Achievement</th>
                    @for (c of characters; track c.name) {
                    <th class="rotate position-relative border-start border-end" colspan="3">
                        <div class="position-absolute bottom-0 start-0">
                            <span class="">{{ c.name }}</span>
                        </div>
                    </th>
                    }
                </tr>
                <tr>
                    @for (c of characters; track c.name) {
                    <th class="text-center border-start border-end p-0">F</th>
                    <th class="text-center border-start border-end p-0">R</th>
                    <th class="text-center border-start border-end p-0">V</th>
                    }
                </tr>
            </thead>
            <tbody class="table-group-divider tbody-bordered">
                @for (row of data; track $index) {
                @if (!$last) {
                <tr class="">
                    <td class="text-nowrap p-0">{{ row.name }}</td>
                    @for (v of row.data; track $index) {
                    <td class="border-start border-end p-0">
                        <div class="text-center"
                            [ngClass]="{'text-bg-success': v === 'C', 'text-bg-warning': v === 'I', 'text-bg-dark': v === ''}">
                            {{ v }}
                        </div>
                    </td>
                    }
                </tr>
                }
                @else {
                <tr class="">
                    <td class="p-0">{{ row.name }}</td>
                    @for (v of row.data; track $index) {
                    <td class="border-start border-end p-0">
                        <div class="text-center"
                            [ngClass]="{'text-bg-success': v == num_heroic_AAs[$index % 3],'text-bg-warning': v != num_heroic_AAs[$index % 3]}"
                            placement="top" ngbTooltip="{{ v }}/{{ num_heroic_AAs[$index % 3] }}">
                            {{ v }}
                        </div>
                    </td>
                    }
                </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>