.rotate
  height: 100px
  white-space: nowrap
  max-width: 3rem
  width: 3rem

  div
    rotate: -75deg
    transform-origin: left center
    translate: 1rem

.table-header
  position: sticky
  top: 0
  z-index: 1
  th
    box-shadow: inset 1px -1px 0px 0px white

.custom-max
  height: calc(100vh - 4rem)
  max-height: calc(100vh - 4rem)