<div class="custom-max">
    <div class="h-100 overflow-y-scroll overflow-x-hidden">
        <table class="table table-sm table-bordered table-fixed table-dark caption-top">
            <caption class="p-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navbar p-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{ getCategoryName(categoryID)?.name }}</li>
                        <li class="breadcrumb-item">
                            <a class="btn-custom text-reset text-decoration-none"
                                [routerLink]="['/category',categoryID,'achievement',achievementID]"
                                [skipLocationChange]="true" routerLinkActive="active">{{
                                getCategoryName(achievementID)?.name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ getClientName(clientID)?.name }}</li>
                    </ol>
                    <ol class="m-0">
                        <li class="navbar">
                            <button class="btn btn-outline-primary text-nowrap" (click)="toggleCompleted()">
                                @if (showCompleted()) {
                                Filter Completed
                                }
                                @else {
                                Show Completed
                                }
                            </button>
                        </li>
                    </ol>
                </nav>
            </caption>
            <thead class="table-header" scope="col">
                <tr>
                    <th class="col-5">Achievement</th>
                    <th class="col-1 text-center">Missing</th>
                    @for (c of characters; track c.name) {
                    <th class="rotate position-relative border-start border-end">
                        <div class="position-absolute bottom-0 start-0">
                            <span class="">{{ c.name }}</span>
                        </div>
                    </th>
                    }
                    <th class="col-1 text-center">Completed</th>
                </tr>
            </thead>
            @if (data.length == 0) {
            <tbody class="table-group-divider tbody-bordered">
                <tr>
                    <td [attr.colspan]="3 + characters.size" class="fs-2 text-center text-warning">No Data</td>
                </tr>
            </tbody>
            }
            @else {
            <tbody class="table-group-divider tbody-bordered">
                @for (row of data; track $index) {
                <tr class="" [hidden]="row.completed == characters.size && !showCompleted()">
                    <td>{{ row.name }}</td>
                    <td class="text-center">{{ row.missing | number }}</td>
                    @for (v of row.data; track $index) {
                    <td class="text-center border-start border-end p-0">
                        <div class="text-center py-2"
                            [ngClass]="{'text-bg-success': v === 'C', 'text-bg-warning': v !== 'C' && v !== '', 'text-bg-dark': v === ''}">
                            {{ v }}
                        </div>
                    </td>
                    }
                    <td class="text-center">{{ row.completed | number }}</td>
                </tr>
                }
            </tbody>
            }
        </table>
    </div>
</div>